.loading-screen{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  .content{
    width: 100%;
    top: 50%;
    left: 50%;
    text-align: center;
    color: white;
    transform: translate(-50%,-50%);
    position: relative;
  }
}