*{
  box-sizing: border-box;
  font-family: Calibri, Arial, "Helvetica CY", "Nimbus Sans L", sans-serif
}

.continioustext{
  display: block;

}

.service_container {
  display: inline-block;
  text-decoration: none;
  width: 250px;
  float: left;
  margin: 9px;
  border: 1px solid #c8a500;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  color: black;
  .service_header{
    .text{
      overflow: hidden;
      height: 18px;
      font-size: 16px;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      color: white;
    }
    height: 26px;
    border-top-right-radius: 1px;
    border-top-left-radius: 2px;
    padding: 5px;
    background: #049747; /* Old browsers */
    background: -moz-linear-gradient(top,  #049747 0%, #02622e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #049747 0%,#02622e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #049747 0%,#02622e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#049747', endColorstr='#02622e',GradientType=0 ); /* IE6-9 */

  }
  &:hover{
    .service_header{
      background: #f5ef02; /* Old browsers */
      background: -moz-linear-gradient(top,  #f5ef02 0%, #c8a500 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  #f5ef02 0%,#c8a500 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  #f5ef02 0%,#c8a500 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5ef02', endColorstr='#c8a500',GradientType=0 ); /* IE6-9 */
    }
  }
  .service_body{
    padding: 10px;
    color: black;
    font-size: 16px;
  }
}

.service_group{
  margin-top: 10px;
  float: left;
  display: block;
  width: 100%;
  border: 1px dashed darken(#a93312, 10%);
  .header{
    padding: 10px;
    color: white;
    background: black;
  }
  .body{
    padding: 10px;
  }
  &:hover{
    background: rgba(159,65,20,0.2);
  }
}

.hidden{
  display: none;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after{
  margin: 0;
}

.minicon{
  cursor: pointer;
  &[class^="flaticon-"]:before, &[class*=" flaticon-"]:before,
  &[class^="flaticon-"]:after, &[class*=" flaticon-"]:after{
    font-size: 11px !important;
  }
}

.service_line_container{
  font-family: Calibri, Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  margin: 5px 0;

  width: 100%;

  box-shadow: 2px 2px 1px rgba(0,0,0,0.1);

  border: 1px solid darken(#049747, 10%);
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;

  text-decoration: none;
  color: black;
  background: white;
  display: table;

  .icon{
    width: 40px;
    background: #049747; /* Old browsers */
    background: -moz-linear-gradient(top,  #049747 0%, #02622e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #049747 0%,#02622e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #049747 0%,#02622e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#049747', endColorstr='#02622e',GradientType=0 ); /* IE6-9 */
    display: table-cell;
    padding: 5px;
    vertical-align: middle;

    [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
    [class^="flaticon-"]:after, [class*=" flaticon-"]:after{
      color: white;
      font-size: 40px;
    }
  }
  &:hover{
    border: 1px solid darken(#f5ef02, 10%);
    .icon{
      background: #f5ef02; /* Old browsers */
      background: -moz-linear-gradient(top,  #f5ef02 0%, #c8a500 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  #f5ef02 0%,#c8a500 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  #f5ef02 0%,#c8a500 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5ef02', endColorstr='#c8a500',GradientType=0 ); /* IE6-9 */
    }
    .body{
      box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
    }
  }
  .body{
    text-transform: uppercase;
    padding: 10px;
    display: table-cell;
    vertical-align: middle;
    font-weight: 700;
    font-size: 16px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  &:active{
    transform: translate(2px, 2px);
    box-shadow: none;
  }
}

#mainPage{
  display: none;
}


#helper_disable{
  display: none;
  position: fixed;
  bottom: 60px;
  right: 10px;
  z-index: 999999;
}

.relative{
  position: relative;
}

.help_btn{
  outline: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
  font-family: Calibri, Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-weight: 700;
  border-radius: 4px;
  padding: 10px 25px;
  border: 1px solid darken(#f5ef02, 10%);
  color: white;
  background: #f5ef02; /* Old browsers */
  background: -moz-linear-gradient(top,  #f5ef02 0%, #c8a500 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f5ef02 0%,#c8a500 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f5ef02 0%,#c8a500 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5ef02', endColorstr='#c8a500',GradientType=0 ); /* IE6-9 */

  &:hover{
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
  }
  &:active{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }

  &:focus, &:active{
    outline: none;
  }
}

body{
  background: url(/media/images/bg.png);
}
.line{
  width: 100%;
  height: 1px;
  background: rgba(0,0,0,0.3);
  margin: 10px 0;
}

.payments_container{
//  position: fixed;
}


.iconwrap{
  display: inline-block;
  &.rotate{
    -webkit-animation: rotate 2s linear infinite; /* Chrome, Safari, Opera */
    animation: rotate 2s linear infinite;
  }

}
/* Chrome, Safari, Opera */
@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Standard syntax */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#scroller{
  display: none;
}