.main-container {
  width: 100%; }
  .main-container .left-panel {
    float: left;
    position: fixed;
    width: 285px; }
  .main-container .content-panel {
    float: left;
    width: 100%; }

/*# sourceMappingURL=sceleton.css.map */
