
.main-container{
  margin: auto;
  display: block;
  max-width: 1433px;
  min-width: 1220px;
  .left-panel{
    float: left;
    position: fixed;
    width: 300px;
    overflow-x: hidden;
    .inner-body{
      max-height: 90vh;
      overflow-y: scroll;
      overflow-x: hidden;
      width: calc(100% + 20px);
      padding: 0 10px 20px;
    }

  }
  .content-panel{
    float: left;
    width: 100%;
    padding-left: 315px;
  }
}

.container{
  margin: auto;
  width: 100%;
}
