.input-group{
  .label{
    display: inline-block;
    padding: 5px 0;
    font-size: 13px;
    text-transform: uppercase;
    margin: 5px 0 5px 0;
    &.low-label{
      text-transform: none;
    }
  }
  .input {
    width: 100%;
    border: 1px solid #dadada;
    border-radius: 4px;
    box-shadow: none;
    padding: 5px;
    font-size: 16px;
  }
  .radio-input{
    width: auto;
  }
}
.btn{
  margin: 5px 0;
  border: 1px solid #dadada;
  background: white;
  border-radius: 4px;
  box-shadow: none;
  padding: 10px 25px;
  font-size: 16px;
  outline: none;
  &:hover{
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    cursor: pointer;
  }
  &:active, &:focus{
    box-shadow: inset 0 0 4px rgba(0,0,0,0.5);
    outline: none;
  }
}

.btn-yellow{
  font-weight: 700;
  text-shadow: 0 0 4px rgba(0,0,0,0.3);
  border: 1px solid darken(#f5ef02, 10%);
  color: white;
  background: #f5ef02; /* Old browsers */
  background: -moz-linear-gradient(top,  #f5ef02 0%, #c8a500 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f5ef02 0%,#c8a500 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f5ef02 0%,#c8a500 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5ef02', endColorstr='#c8a500',GradientType=0 ); /* IE6-9 */
}
.btn-green{
  font-weight: 700;
  text-shadow: 0 0 4px rgba(0,0,0,0.3);
  border: 1px solid darken(#049747, 10%);
  color: white;
  background: #049747; /* Old browsers */
  background: -moz-linear-gradient(top,  #049747 0%, #02622e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #049747 0%,#02622e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #049747 0%,#02622e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#049747', endColorstr='#02622e',GradientType=0 ); /* IE6-9 */
}
.btn-danger{
  font-weight: 700;
  background: #c0392b;
  color: white;
  width: 32px;
  height: 32px;
  &.fill{
    border-radius: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}

.pull-right{
  float: right;
}
.pull-left{
  float: left;
}

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

.b-t-l-10{
  border-top-left-radius: 10px !important;
}
.b-t-r-10{
  border-top-right-radius: 10px !important;
}

.pretyLink{
  color: royalblue;
  text-decoration: none;
  &:hover{
    color: darken(royalblue,10%);
    text-shadow: 0 0 2px black;
  }
}

.table{
  width: 100%;
  text-align: center;
  border-collapse: collapse;

  .erc-header{
    border-radius: 2px;
    font-size: 18px;
    &:first-child{
      > td:first-child{
        border-top-left-radius: 2px;
      }
      > td:last-child{
        border-top-right-radius: 2px;
      }
    }
    td{
      padding: 10px;
    }
    color: white;
    background: #049747; /* Old browsers */
    background: -moz-linear-gradient(top,  #049747 0%, #02622e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #049747 0%,#02622e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #049747 0%,#02622e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#049747', endColorstr='#02622e',GradientType=0 ); /* IE6-9 */
  }

  .edit-back{
    color: white;
    background: #f5ef02; /* Old browsers */
    background: -moz-linear-gradient(top,  #f5ef02 0%, #c8a500 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f5ef02 0%,#c8a500 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f5ef02 0%,#c8a500 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5ef02', endColorstr='#c8a500',GradientType=0 ); /* IE6-9 */
    &:hover{
      box-shadow: 0 0 4px rgba(0,0,0,0.2);
      cursor: pointer;
    }
    &:active, &:focus{
      box-shadow: inset 0 0 4px rgba(0,0,0,0.5);
    }
  }
  .cart-back{
    background: #049747; /* Old browsers */
    background: -moz-linear-gradient(top,  #049747 0%, #02622e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #049747 0%,#02622e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #049747 0%,#02622e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#049747', endColorstr='#02622e',GradientType=0 ); /* IE6-9 */
    color: white;
    &:hover{
      box-shadow: 0 0 4px rgba(0,0,0,0.2);
      cursor: pointer;
    }
    &:active, &:focus{
      box-shadow: inset 0 0 4px rgba(0,0,0,0.5);
    }
  }
  .del-back{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e53935+0,bc2d2d+100 */
    background: #e53935; /* Old browsers */
    background: -moz-linear-gradient(top,  #e53935 0%, #bc2d2d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #e53935 0%,#bc2d2d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #e53935 0%,#bc2d2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e53935', endColorstr='#bc2d2d',GradientType=0 ); /* IE6-9 */
    color: white;
    &:hover{
      box-shadow: 0 0 4px rgba(0,0,0,0.2);
      cursor: pointer;
    }
    &:active, &:focus{
      box-shadow: inset 0 0 4px rgba(0,0,0,0.5);
    }
  }

  &.bordered{
    > tbody{
      > tr{
        border-bottom: 2px solid #3d3d3d;
        &:last-child{
          border-bottom: 0px solid black;
        }
        &:first-child{
          border-bottom: 0px solid black;
        }
        > td{
          border-collapse: collapse;
          border: 1px solid #dadada;
        }
      }
    }
  }

  &.innerbordered{
    > tbody{
      > tr{
        > td{
          border-bottom: 1px solid #dadada;
          border-right: 1px solid #dadada;
          &:last-child{
            border-right: 0px solid #dadada;
          }
        }
        &:last-child{
          > td{
            border-bottom: 0px solid #dadada;
          }
        }
      }
    }
  }

  tr{
    td{
      border-bottom: 1px solid #dadada;
      padding: 5px;
    }
  }
  &.hovered{
    tr{
      &:hover{
        background: rgba(0,0,0,0.1);
        cursor: pointer;
      }
    }
  }
}

.btn-group{
  > *{
    &:first-child{
      border-top-left-radius: 0px !important;
      border-bottom-left-radius: 0px !important;
    }
    &:last-child{
      border-top-right-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
    }
  }
}

.TourTipContent{
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.TourTipButton{
  margin: 5px 0;
  border-radius: 2px;
  box-shadow: none !important;
  padding: 10px 25px;
  font-size: 16px;
  outline: none;
  font-weight: 700;
//  text-shadow: 0 0 4px rgba(0,0,0,0.3);
  border: 1px solid darken(#f5ef02, 10%);
  color: white;
  background: #f5ef02; /* Old browsers */
  background: -moz-linear-gradient(top,  #f5ef02 0%, #c8a500 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f5ef02 0%,#c8a500 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f5ef02 0%,#c8a500 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5ef02', endColorstr='#c8a500',GradientType=0 ); /* IE6-9 */
  &:hover{
    box-shadow: 0 0 4px rgba(0,0,0,0.2) !important;
    cursor: pointer;
  }
  &:active, &:focus{
    box-shadow: inset 0 0 4px rgba(0,0,0,0.5) !important;
    outline: none;
  }
}

.TourTipCloseBotton{
  background: #e53935; /* Old browsers */
  background: -moz-linear-gradient(top,  #e53935 0%, #bc2d2d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #e53935 0%,#bc2d2d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #e53935 0%,#bc2d2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e53935', endColorstr='#bc2d2d',GradientType=0 ); /* IE6-9 */
}

.TourTipNextBotton{
  background: #049747; /* Old browsers */
  background: -moz-linear-gradient(top,  #049747 0%, #02622e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #049747 0%,#02622e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #049747 0%,#02622e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#049747', endColorstr='#02622e',GradientType=0 ); /* IE6-9 */
}

.nobtn{
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  color: inherit;
  background: inherit;
}

.b-r-0{
  border-radius: 0 !important;
}


.payments{
  padding: 0 5px 0 5px;
  list-style-type: none;
  margin: 5px 0;
  li{
    border: 1px solid rgba(0,0,0,0.1);
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    cursor: default;
    &:hover{
      .oneLine{
//        width: auto;
//        height: auto;
//        overflow: visible;
//        text-overflow: initial;
//        white-space: normal;
      }
//      background: rgba(0,0,0,0.10);
    }
  }
}

.bb-1{
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.grayHeader{
  background: rgba(0,0,0,0.1);
}

.btn-delete{
  cursor: pointer;
  padding: 3px 4px 2px;
  border: 0;
  background: #e53935; /* Old browsers */
  background: -moz-linear-gradient(top,  #e53935 0%, #bc2d2d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #e53935 0%,#bc2d2d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #e53935 0%,#bc2d2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e53935', endColorstr='#bc2d2d',GradientType=0 ); /* IE6-9 */
  color: white;
  [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
  [class^="flaticon-"]:after, [class*=" flaticon-"]:after{
    font-size: 14px;
  }
}

.btn-edit{
  cursor: pointer;
  margin-right: -4px;
  padding: 3px 4px 2px;
  border: 0;
  background: #f5ef02; /* Old browsers */
  background: -moz-linear-gradient(top,  #f5ef02 0%, #c8a500 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f5ef02 0%,#c8a500 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f5ef02 0%,#c8a500 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5ef02', endColorstr='#c8a500',GradientType=0 ); /* IE6-9 */
  color: white;
  [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
  [class^="flaticon-"]:after, [class*=" flaticon-"]:after{
    font-size: 14px;
  }
}

.greenHeader{
  border-radius: 1px;
  margin-right: -3px;
  margin-left: -3px;
  background: #049747; /* Old browsers */
  background: -moz-linear-gradient(top,  #049747 0%, #02622e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #049747 0%,#02622e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #049747 0%,#02622e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#049747', endColorstr='#02622e',GradientType=0 ); /* IE6-9 */
  color: white;
}

[data-toggle="forgot"]{
  display: none;
}

.logout{
  margin-top: 4px;
  font-size: 12px;
  font-weight: 300;
  cursor: pointer;
}

.badge{
  top: -2px;
  position: relative;
  margin-left: 5px;
  background: #f5ef02; /* Old browsers */
  background: -moz-linear-gradient(top,  #f5ef02 0%, #c8a500 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f5ef02 0%,#c8a500 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f5ef02 0%,#c8a500 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5ef02', endColorstr='#c8a500',GradientType=0 ); /* IE6-9 */
  padding: 2px 5px;
  font-size: 12px !important;
  border-radius: 5px;
  color: white;
}

.payments_container{
  width: 100%;
  float: left;
  padding: 0;
  .body{
    padding: 10px;
  }
}

.m-a{
  margin: auto;
  display: block;
}

.breadcrump{
  color: #049747;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
  &.active{
    color: darken(#049747, 20%) !important;
    font-weight: 700;
    &:hover{
      text-decoration: none !important;
    }
  }
}

span.line{
  width: 100%;
  height: 1px;
  background: #dadada;
  display: block;
  margin: auto;
}

.font9{
  &:before{
    font-size: 9px;
  }
  font-size: 9px;
}
.font13{
  &:before{
    font-size: 13px;
  }
  font-size: 13px;
}
.font24{
  &:before{
    font-size: 24px;
  }
  font-size: 24px;
}
.font100{
  &:before{
    font-size: 100px;
  }
  font-size: 100px;
}

.payments-header{
  font-size: 16px;
  text-align: center;
  padding: 0 0 10px;
  border-bottom: 1px solid rgba(0,0,0,0.4)
}

@for $i from -500 to 500 {
  .p-#{$i}{
    padding: $i * 1px !important;
  }
  .p-l-#{$i}{
    padding-left: $i * 1px !important;
  }
  .p-r-#{$i}{
    padding-right: $i * 1px !important;
  }
  .p-t-#{$i}{
    padding-top: $i * 1px !important;
  }
  .p-b-#{$i}{
    padding-bottom: $i * 1px !important;
  }
  .m-#{$i}{
    margin: $i * 1px !important;
  }
  .m-l-#{$i}{
    margin-left: $i * 1px !important;
  }
  .m-r-#{$i}{
    margin-right: $i * 1px !important;
  }
  .m-t-#{$i}{
    margin-top: $i * 1px !important;
  }
  .m-b-#{$i}{
    margin-bottom: $i * 1px !important;
  }
  $i: $i+5;
}

.white-panel{
  background: white;
  padding: 20px 20px;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  border-radius: 2px;
}

.line-block{
  padding: 5px;
  float: left;
  width: 100%;
}

.navigation{
  width: 100%;
  float: left;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background: #049747; /* Old browsers */
  background: -moz-linear-gradient(top,  #049747 0%, #02622e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #049747 0%,#02622e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #049747 0%,#02622e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#049747', endColorstr='#02622e',GradientType=0 ); /* IE6-9 */
  .links{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;

    li{
      display: inline-block;
      padding: 15px 0;
      + li{
        margin-left: -3px;
      }
      a{
        padding: 15px 10px;
        text-decoration: none;
        font-weight: 700;
        color: white;
      }
      &:hover{
        box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
      }
      &:first-child{
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }
      &.active{
        box-shadow: 2px 0 0 rgba(0,0,0,0.1),  1px 0 0 rgba(0,0,0,0.1), inset 1px 0 0 rgba(0,0,0,0.1);
        background: #f5ef02; /* Old browsers */
        background: -moz-linear-gradient(top,  #f5ef02 0%, #c8a500 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #f5ef02 0%,#c8a500 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #f5ef02 0%,#c8a500 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5ef02', endColorstr='#c8a500',GradientType=0 ); /* IE6-9 */
        &:hover{
          box-shadow: 2px 0 0 rgba(0,0,0,0.1),  1px 0 0 rgba(0,0,0,0.1), inset 1px 0 0 rgba(0,0,0,0.1), inset 0 0 10px rgba(0,0,0,0.3);
        }
        a{
          color: black;
        }
      }
    }
  }
}

.search-wrap{
  position: relative;
  float: right;
  padding: 10px 25px 10px 15px;
  span{
    color: white;
    font-size: 14px;
  }
  .search-input{
    border-radius: 4px;
    padding: 5px;
    font-size: 16px;
    width: 390px;
    border: none;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.25);
  }
}

.popular{
  float: left;
  font-size: 14px;
  a{
    text-decoration: none;
    color: royalblue;
    &:hover{
      color: darken(#f5ef02, 20%);

      background: rgba(4,151,71, 0.2);
    }
    span{
      display: block;
    }
  }
}

.upparrow{
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 999;
}

//старый дизайн
.custominput{
  width: 190px;
  border: 1px solid #c1cbc8;
  height: 23px;
  line-height: 23px\9;
  border-radius: 5px;
  width: 190px;
  padding: 0 5px;
  position: relative;
}

.loginheader{
  text-align: left;
  font-size: 14px;
  color: #898989;
  font-weight: normal;
}

.customlink{
  text-decoration: underline;
  color: #036b32;
}

.small{
  font-size: 11px;
}

.gray{
  color: #6a6a6a;
}

.w100{
  width: 100%;
}


.grayLinkLite {
  padding: 12px 10px 10px;
  color: #333;
  text-shadow: none;
  font-weight: 700;
  position: relative;
  text-decoration: none;
  &:hover{
    color: #000;
  }
}

.rightLinks{
  padding: 5px;
}

// effect 7
.grayLink {
  padding: 12px 10px 10px;
  color: #000;
  text-shadow: none;
  font-weight: 700;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: all 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: all 0.3s, opacity 0.3s, transform 0.3s;
}

.g-signin2{
  display: inline-block;
}

.grayLink::before,
.grayLink::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #566473;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  transform: scale(0.85);
}

.grayLink:after {
  opacity: 0;
  -webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: top 0.3s, opacity 0.3s, transform 0.3s;
}

.grayLink:hover::before,
.grayLink:hover::after,
.grayLink:focus::before,
.grayLink:focus::after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}


.grayLink:hover {
  background: rgba(0,0,0,0.1);
  -webkit-transition: all 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: all 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: all 0.3s, opacity 0.3s, transform 0.3s;
}

.grayLink:hover::after,
.grayLink:focus::after {
  top: 0%;
  opacity: 1;
}


//.grayLink{
//  color: #566473;
//  text-decoration: none;
//  text-shadow: none;
//  position: relative;
//  &:hover{
//    text-decoration: none;
//  }
//  &:before, &:after{
//    position: absolute;
//    top: 100%;
//    left: 0;
//    width: 100%;
//    height: 1px;
//    background: #566473;
//    content: '';
//    -webkit-transition: -webkit-transform 0.3s;
//    -moz-transition: -moz-transform 0.3s;
//    transition: transform 0.3s;
//    -webkit-transform: scale(0.85);
//    -moz-transform: scale(0.85);
//    transform: scale(0.85);
//  }
//}

.shadow_container{
  background: white;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.block_login{
  background-color: #fff;
  float: left;
  width: 100%;
  /* height: 130px; */
  margin-bottom: 20px;
  padding: 20px;
}

.nav_wrap{
  height: 50px;
  border-radius: 5px;
  zoom: 1;
  width: 100%;
  float: left;
  margin: 0 0 20px;

}

.mandatory{
  color: red;
  font-weight: 700;
  font-size: 17px;
}
.warning-box{
  padding: 10px;
  background: rgba(155,56,56,0.3);
}
.error-message{
  font-weight: 700;
}

.liveResults{
  position: absolute;
  z-index: 999;
  width: 100%;
  background: white;
  border: darken(#f5ef02, 20%);
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    li{
      cursor: pointer;
      border-bottom: 1px solid #036b32;
      &:last-child{
        border-bottom: 3px solid darken(#036b32, 20%);
      }
      &:hover{
        background: #dadada;
      }
      a{
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #013418;
      }
    }
  }
}

.panel-block{
  box-shadow: 0 0 3px rgba(0,0,0,0.25);
  float: left;
  width: 100%;
  background: white;
  border-radius: 2px;
}

.btn-smartErrors{
  border-radius: 2px;
  text-align: center;
  background: #d32f2f;
  border: 1px solid darken(#d32f2f, 5%);
  color: white;
  box-shadow: -3px 3px 0 rgba(0,0,0, 0.3),-2px 2px 0 rgba(0,0,0, 0.3),-1px 1px 0 rgba(0,0,0, 0.3);
  &:hover{
    box-shadow: -2px 2px 0 rgba(0,0,0, 0.3),-1px 1px 0 rgba(0,0,0, 0.3);
    transform: translate(-1px, 1px);
  }
  &:hover:active{
    box-shadow: none;
    transform: translate(-3px, 3px);
  }
}

.wrapCell{
  text-overflow: ellipsis;
  display: inline-block;
  height: 18px;
  overflow: hidden;
  word-wrap: normal;
  &.w50{
    width: 100px;
  }
  &.w100{
    width: 100px;
  }
  &.w150{
    width: 100px;
  }
  &.w200{
    width: 100px;
  }
}


.table-wrapper{
  width: 100%;
  max-height: 75vh;
  overflow-x: auto;
}

.inline{
  display: inline-block;
}

.btn-smartClear{
  border-radius: 2px;
  text-align: center;
  background: #1E88E5;
  border: 1px solid darken(#1E88E5, 5%);
  color: white;
  box-shadow: -3px 3px 0 rgba(0,0,0, 0.3),-2px 2px 0 rgba(0,0,0, 0.3),-1px 1px 0 rgba(0,0,0, 0.3);
  &:hover{
    box-shadow: -2px 2px 0 rgba(0,0,0, 0.3),-1px 1px 0 rgba(0,0,0, 0.3);
    transform: translate(-1px, 1px);
  }
  &:hover:active{
    box-shadow: none;
    transform: translate(-3px, 3px);
  }
}

.tabs{
  > div{
    padding: 10px;
    display: inline-block;
    border-top: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-left: 1px solid #dadada;
    position: relative;
    cursor: pointer;
    &.active{
      background: #1E88E5;
      color: white;
    }
    &:after{
      content: '';
      height: 1px;
      position: absolute;
      width: 6px;
      background: #dadada;
      bottom: 0;
      right: -6px;
    }
    &:last-child:after{
      content: '';
      height: 0;
    }
  }
  margin-bottom: 10px;
}