    /*
    Flaticon icon font: Flaticon
    Creation date: 08/04/2016 12:23
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-arrow:before { content: "\f100"; }
.flaticon-arrows:before { content: "\f101"; }
.flaticon-arrows-1:before { content: "\f102"; }
.flaticon-arrows-2:before { content: "\f103"; }
.flaticon-arrows-3:before { content: "\f104"; }
.flaticon-black:before { content: "\f105"; }
.flaticon-buildings:before { content: "\f106"; }
.flaticon-bulb:before { content: "\f107"; }
.flaticon-construction:before { content: "\f108"; }
.flaticon-construction-1:before { content: "\f109"; }
.flaticon-cross:before { content: "\f10a"; }
.flaticon-delete:before { content: "\f10b"; }
.flaticon-draw:before { content: "\f10c"; }
.flaticon-internet:before { content: "\f10d"; }
.flaticon-load:before { content: "\f10e"; }
.flaticon-money:before { content: "\f10f"; }
.flaticon-people:before { content: "\f110"; }
.flaticon-shop:before { content: "\f111"; }
.flaticon-signs:before { content: "\f112"; }
.flaticon-technology:before { content: "\f113"; }
.flaticon-technology-1:before { content: "\f114"; }
.flaticon-technology-2:before { content: "\f115"; }
.flaticon-tool:before { content: "\f116"; }
.flaticon-tool-1:before { content: "\f117"; }
    
    $font-Flaticon-arrow: "\f100";
    $font-Flaticon-arrows: "\f101";
    $font-Flaticon-arrows-1: "\f102";
    $font-Flaticon-arrows-2: "\f103";
    $font-Flaticon-arrows-3: "\f104";
    $font-Flaticon-black: "\f105";
    $font-Flaticon-buildings: "\f106";
    $font-Flaticon-bulb: "\f107";
    $font-Flaticon-construction: "\f108";
    $font-Flaticon-construction-1: "\f109";
    $font-Flaticon-cross: "\f10a";
    $font-Flaticon-delete: "\f10b";
    $font-Flaticon-draw: "\f10c";
    $font-Flaticon-internet: "\f10d";
    $font-Flaticon-load: "\f10e";
    $font-Flaticon-money: "\f10f";
    $font-Flaticon-people: "\f110";
    $font-Flaticon-shop: "\f111";
    $font-Flaticon-signs: "\f112";
    $font-Flaticon-technology: "\f113";
    $font-Flaticon-technology-1: "\f114";
    $font-Flaticon-technology-2: "\f115";
    $font-Flaticon-tool: "\f116";
    $font-Flaticon-tool-1: "\f117";