	/*
  	Flaticon icon font: Flaticon
  	Creation date: 08/04/2016 12:23
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-arrow:before { content: "\f100"; }
.flaticon-arrows:before { content: "\f101"; }
.flaticon-arrows-1:before { content: "\f102"; }
.flaticon-arrows-2:before { content: "\f103"; }
.flaticon-arrows-3:before { content: "\f104"; }
.flaticon-black:before { content: "\f105"; }
.flaticon-buildings:before { content: "\f106"; }
.flaticon-bulb:before { content: "\f107"; }
.flaticon-construction:before { content: "\f108"; }
.flaticon-construction-1:before { content: "\f109"; }
.flaticon-cross:before { content: "\f10a"; }
.flaticon-delete:before { content: "\f10b"; }
.flaticon-draw:before { content: "\f10c"; }
.flaticon-internet:before { content: "\f10d"; }
.flaticon-load:before { content: "\f10e"; }
.flaticon-money:before { content: "\f10f"; }
.flaticon-people:before { content: "\f110"; }
.flaticon-shop:before { content: "\f111"; }
.flaticon-signs:before { content: "\f112"; }
.flaticon-technology:before { content: "\f113"; }
.flaticon-technology-1:before { content: "\f114"; }
.flaticon-technology-2:before { content: "\f115"; }
.flaticon-tool:before { content: "\f116"; }
.flaticon-tool-1:before { content: "\f117"; }