<!DOCTYPE HTML>
<html>
<head>
    <meta name="google-signin-client_id" content="257625193226-llag4jldgdo4nuo0hgl2itgv5285feel.apps.googleusercontent.com">
    <title>Единый расчетный центр - оплата онлайн</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <script src="/media/js/jquery.inputmask.bundle.min.js"></script>
    <script src="/media/js/lockr.js"></script>
    <script src="/media/alertify/alertify.min.js"></script>
    <link rel=" stylesheet" type="text/css" href="/media/tour/tinytools.tourtip.min.css">
    <script src="/media/tour/tinytools.tourtip.min.js"></script>
    <link rel="stylesheet" href="/media/font/flaticon.css"/>
    <link rel="stylesheet" href="/media/alertify/css/alertify.min.css"/>
    <link rel="stylesheet" href="/media/alertify/css/themes/semantic.min.css"/>
    <link rel="stylesheet" href="/media/theme/default.css"/>

</head>
<body>

{#<div class="loading-screen">#}
    {#<div class="content">#}
        {#<i class="flaticon-arrows-3 font100 iconwrap rotate"></i>#}
        {#<h3>{{ erc_status[random(erc_status|length-1)] }}</h3>#}
    {#</div>#}
{#</div>#}

<div class="main-container m-t-20">

    <div class="left-panel fixed-panel">

        <div class="inner-body">

            <a href="http://erc-perm.ru/"><img src="/media/images/logo_sm.png"/></a>

            <div class="panel-block m-t-20">
                {% if user is defined %}
                    <div class="col-md-12">
                        <h3 class="m-t-5 m-b-5 p-10 greenHeader">Профиль <span class="pull-right logout">Выход</span></h3>
                    </div>
                    <div class="col-md-3 p-10">
                        <img src="https://success.salesforce.com/resource/1458777600000/sharedlayout/img/new-user-image-default.png"
                             alt="Пользователь"
                             width="100%"/>
                    </div>
                    <div class="col-md-9 p-10">
                        <h4 class="m-t-5 m-b-5">{{ user.lastname }} {{ user.firstname }} {{ user.middlename }}</h4>
                        <p class="m-t-5 m-b-5">{{ user.login }}</p>
                    </div>
                {% else %}
                    <div class="col-md-12">
                        <h3 class="m-t-5 m-b-5 p-10 greenHeader">Войти через соц. сеть</h3>
                    </div>
                    <div class="col-md-12" id="socialIn">
                        <div class="input-group p-5 text-center">
                            <div class="g-signin2" id="signG" data-longtitle="true" data-width="243" data-onsuccess="Google_signIn" data-theme="dark" data-width="200"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h3 class="m-t-5 m-b-5 p-10 greenHeader">Вход</h3>
                    </div>
                    <div class="col-md-12" id="register">
                        <form action="/ajax" method="post" id="login_form" data-toggle="login">
                            <div class="input-group p-5">
                                <input type="text" class="input" name="login" id="login" placeholder="example@mail.ru"/>
                                <span class="error-message"></span>
                            </div>
                            <div class="input-group p-5">
                                <input type="password" class="input" name="password" id="password" placeholder="Пароль"/>
                                <span class="error-message"></span>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group p-5 pull-left">
                                    <button class="btn btn-yellow login" type="submit">
                                        Войти
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-8 text-right">
                                <div class="rightLinks">
                                    <a href="/register" class="grayLinkLite">Регистрация</a>
                                </div>
                                <div class="rightLinks">
                                    <a href="/forgot" class="grayLinkLite forgot" data-show="forgot" data-hide="login">Забыли пароль?</a>
                                </div>
                            </div>
                        </form>
                        <form action="/ajax" id="forgot_form" data-toggle="forgot">
                            <div class="col-md-12">
                                <div class="input-group p-5">
                                    <span class="label">Введите свой email</span>
                                    <input type="text" class="input" name="forgotpass" id="forgotpass" placeholder="example@mail.ru"/>
                                    <span class="error-message"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group p-5">
                                    <button class="btn btn-yellow forgotpass w100" id="forgotpassbtn" data-show="login" data-hide="forgot" type="submit">
                                        Напомнить
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group p-5">
                                    <button class="btn btn-yellow forgotpass w100" data-show="login" data-hide="forgot" type="submit">
                                        Отмена
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                {% endif %}
                {% if payments|length > 0 %}
                    <div class="col-md-12">
                        <h3 class="m-t-5 m-b-5 p-10 greenHeader">Корзина <span class="badge">{{ payments|length }}</span> <span class="pull-right"><i class="flaticon-arrows-1 minicon" data-hider="#payments"></i></span></h3>
                        <ul class="payments" id="payments">
                            {% for key, pay in payments %}
                                <li>
                                    <div class="col-md-12 text-right bb-1 grayHeader p-2">
                                        <form action="/services/{{ pay.service_type_id }}/form/{{ pay.service_id }}" method="post">
                                            <input type="hidden" name="ses_id" value="{{ key }}"/>
                                            <button type="submit" class="btn-edit">
                                                <i class="flaticon-draw"></i>
                                            </button>
                                            <button class="btn-delete" data-deletePayment="{{ key }}">
                                                <i class="flaticon-delete"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col-md-12">
                                        <p class="m-t-5 m-b-5 p-5">{{ pay.www_name }}</p>
                                    </div>
                                    <div class="col-md-12">
                                        <span class="line"></span>
                                        <p class="m-t-5 m-b-5 p-r-5 p-l-5 text-right"><b>{{ pay.money_send.value }}</b> руб.</p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <form action="/payonline" method="post">
                            <button class="btn btn-yellow m-a m-t-10 payonlinebtn" type="submit">
                                Оплатить
                            </button>
                        </form>
                    </div>
                {% endif %}
                <div class="col-md-12">
                    <h3 class="m-t-5 m-b-5 p-10 greenHeader">Популярное <span class="pull-right"><i class="flaticon-arrows-1 minicon" data-hider="#services"></i></span></h3>

                    <div id="services" id="popular">
                        {% for key, pop in popular %}
                            <a href="/services/{{ pop.service_type_id }}/form/{{ pop.service_id }}" class="line-block grayLink">
                                    <span>
                                        {{ pop.www_name }}
                                    </span>
                                        <br/>
                                    <span class="small gray">
                                        {{ pop.service_type }}
                                    </span>
                                        <br/>
                                    <span class="small gray">
                                        Р/с: {{ pop.provider_bank_account }}
                                    </span>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-12">
                    <h3 class="m-t-5 m-b-5 p-10 greenHeader">Прочее <span class="pull-right"><i class="flaticon-arrows-1 minicon" data-hider="#other"></i></span></h3>
                    <div id="other">
                        <a href="http://erc-perm.ru/chastnyim-litsam/poisk-i-proverka-platezha/" class="line-block grayLink">
                        <span>
                            Поиск и проверка платежа
                        </span>
                        </a>
                        <a href="http://erc-perm.ru/chastnyim-litsam/sposobyi-oplatyi/publichnaya-oferta/#Returns" class="line-block grayLink">
                        <span>
                            Возврат денежных средств
                        </span>
                        </a>
                        <a href="/indications" class="line-block grayLink">
                        <span>
                            Подать показания счетчиков
                        </span>
                        </a>
                    </div>
                </div>
            </div>

        </div>


    </div>



    <div class="content-panel">

        <div class="navigation">
            <ul class="links">
                {% for item in menu %}
                    <li class="{% if item.active == true %} active {% endif %}" id="{% if item.id is defined %}{{ item.id }}{% endif %}">
                        <a href="{{ item.path }}">{{ item.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="search-wrap">
                <span>Поиск</span> <input class="search-input m-l-10 liveSearch" placeholder="Введите название, Р/С или ИНН получателя платежа" type="text"/>
                <div class="liveResults">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>

        {% block content %}{% endblock %}

    </div>

</div>

<button id="helper_disable" class="btn btn-yellow">
    Отключить помощника
</button>

<div class="upparrow btn btn-yellow" id="scroller">
    <i class="flaticon-arrows font13"></i> Наверх
</div>

<script type="text/javascript" src="/media/js/main.js"></script>

</body>
</html>