{% extends layout %}

{% block content %}

    <link rel="stylesheet" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css"/>

    <script src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>


    <div class="container white-panel inline m-t-20">
        <div class="row">
            <div class="col-md-12">
                <div class="tabs">
                    <div>Показания</div>
                    <div>Платежи</div>
                </div>
            </div>
        </div>
        <div class="row" data-tab="inputs">
            <div class="col-md-12">

            </div>
        </div>
        <div class="row" data-tab="payments">
            <div class="col-md-3">
                <div class="btn btn-default btn-smartErrors" id="getErrorPayments">
                    Искать ошибочные (GLOBAL)
                </div>
                <div class="btn btn-default btn-smartClear" id="cleartable">
                    Очистить
                </div>
                <div class="input-group">
                    <span class="label"> Транзакция ID </span>
                    <input type="text" id="transactionID" name="transactionID" class="input"/>
                    <span class="error-message"></span>
                </div>
                <div class="input-group">
                    <span class="label"> Платеж ID </span>
                    <input type="text" id="paymentID" name="paymentID" class="input"/>
                    <span class="error-message"></span>
                </div>
            </div>
            <div class="col-md-9 p-l-20 p-r-20">
                <div class="btn btn-default btn-smartClear" id="bigSearch">
                    ПОИСК
                </div>
            </div>
            <div class="col-md-12 m-t-20">
                {#<div class="table-wrapper">#}
                    <table class="table transactiontable" id="liveresults">
                        <tr>
                            <th>
                            <th>Результат</th>
                            <th>Статус</th>
                            <th>Дата начала</th>
                            <th>Сервис ID</th>
                            <th>Параметры</th>
                            <th>Сумма</th>
                            <th>ID пользователя</th>
                            <th>Mail</th>
                            <th>ID транзакции</th>
                            <th>ID платежа</th>
                            </th>
                        </tr>
                    </table>
                {#</div>#}
            </div>
        </div>
    </div>

{% endblock %}