{% extends layout %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 m-t-20 m-b-20 white-panel">

                <div class="pathback">
                    {% for key, path in path_back %}
                        {% if key != path_back|length - 1 %}
                            <a href="{{ path.path }}" class="{{ path.class }}">{{ path.name }}</a>
                        {% else %}
                            <span class="{{ path.class }}">{{ path.name }}</span>
                        {% endif %}
                        {% if key != path_back|length - 1 %}
                            <i class="flaticon-arrow font9"></i>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="requisites">

                    <h1>
                        {{ form.service.www_name }}
                    </h1>
                    <p>
                        <b>Получатель:</b> {{ form.service.www_name }}
                    </p>
                    <p>
                        <b>ИНН организации:</b> {{ form.service.inn }}
                    </p>

                    <hr/>

                    <p>
                        <b>Р/сч:</b> {{ form.service.provider_bank_account }}
                    </p>
                    <p>
                        <b>Банк:</b> {{ form.service.provider_bank_short_name }}
                    </p>
                    {% if form.service.provider_bank_inn != '' %}
                        <p>
                            <b>ИНН:</b> {{ form.service.provider_bank_inn }}
                        </p>
                    {% endif %}
                    {% if form.service.provider_bank_kpp != '' %}
                        <p>
                            <b>КПП:</b> {{ form.service.provider_bank_kpp }}
                        </p>
                    {% endif %}
                </div>

                <form action="POST" id="addPayment">

                    <div class="input-group">
                        <span class="mandatory">
                            *
                        </span>
                        <span class="label"> Email </span>
                        {% if user is defined %}
                            <input type="text" id="Email" name="Email" class="input" value="{{ user.login }}" placeholder="" autofocus="" />
                        {% else %}
                            <input type="text" id="Email" name="Email" class="input" placeholder="" autofocus="" />
                        {% endif %}
                        <span class="error-message"></span>
                    </div>

                    {% for parameter in form.params %}
                        <div class="input-group">
                            {% if parameter.mandatory == '1' %}
                                <span class="mandatory">
                                    *
                                </span>
                            {% endif %}
                            <span class="label">{% if parameter.wwwname != '' %}{{ parameter.wwwname }}{% else %}{{ parameter.name }}{% endif %}</span>
                            <input type="text" id="parameter_{{ parameter.parameter_id }}"
                                   name="parameter_{{ parameter.parameter_id }}"
                                   class="input"
                                   {% if parameter.mask != '' %}
                                       data-mask="{{ parameter.mask }}"
                                   {% endif %}
                                   placeholder="{{ parameter.example }}" />
                            <span class="error-message"></span>
                        </div>
                    {% else %}
                        Параметры не найдены.
                    {% endfor %}

                    <div class="input-group">
                        <span class="mandatory">
                            *
                        </span>
                        <span class="label"> К перечислению </span>
                        <input type="text" id="money_send" name="money_send" class="input" placeholder=""
                               data-comission="{{ form.service.fee1 + form.service.fee2 }}"
                               data-min="{{ form.service.min_sum }}"
                               data-max="{{ form.service.max_sum }}"
                               data-payment-type="{{ form.service.base }}"
                               data-minfee="{{ form.service.min_fee1 + form.service.min_fee2 }}" />
                        <span class="error-message"></span>
                    </div>

                    <div class="input-group">
                        <span class="label"> К внесению </span>
                        <input type="text" id="money_pay" name="money_pay" class="input" placeholder="" disabled="disabled" />
                        <span class="error-message"></span>
                        минимум <b data-min-alert>{{ form.service.min_sum }}</b> руб., максимум <b data-max-alert>{{ form.service.max_sum }}</b> руб.
                    </div>

                    <p>
                        {% if form.service.fee1 + form.service.fee2 == 0 %}
                            <b>Без комиссии</b>
                        {% else %}
                            Комиссия <b>{{ form.service.fee1+form.service.fee2 }}%</b>
                        {% endif %}

                        {% if form.service.min_fee1 + form.service.min_fee2 > 0 %}
                            минимум {{ form.service.min_fee1 + form.service.min_fee2 }} руб.
                        {% endif %}
                    </p>

                    <h3>
                        Выберите форму оплаты
                    </h3>

                    <div class="input-group">
                        <input type="radio" id="pay_type" name="pay_type" class="input radio-input" checked />
                        <span class="label low-label">С банковской карты</span>
                        <span class="error-message"></span>
                    </div>

                    <div class="input-group">
                        <input type="checkbox" id="agreed" name="agreed" class="input radio-input" />
                        <span class="label low-label toRead">Я внимательно прочел <a href="http://erc-perm.ru/chastnyim-litsam/pravovaya-informatsiya/publichnaya-oferta-oplata-onlayn/">правила пользования системой</a>, согласен на проведение операции и даю <a
                                    href="http://erc-perm.ru/chastnyim-litsam/pravovaya-informatsiya/soglasie-na-obrabotku-personalnyih-dannyih/">согласие на обработку персональных данных</a>.</span>
                        <br/>
                        <span class="error-message"></span>
                    </div>

                    <input type="hidden" name="www_name" value="{{ form.service.www_name }}" />
                    <input type="hidden" name="service_hash" value="{{ hash }}" />
                    <input type="hidden" name="service_id" value="{{ form.service.service_id }}" />

                    <button type="submit" class="btn btn-yellow addPay">Добавить</button>

                    {% if  user is defined %}
                        <button type="button" class="btn btn-green pull-right addTemplate">Сохранить шаблон</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/media/js/formPageTour.js"></script>
    <script src="/media/js/money_update.js"></script>
{% endblock %}