{% extends layout %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12 m-t-20">
                <table class="table">
                    <tr class="erc-header">
                        <td>
                            Дата
                        </td>
                        <td>
                            Банк получателя
                        </td>
                        <td>
                            Параметры платежа
                        </td>
                        <td>
                            Сумма
                        </td>
                        <td>
                            Статус
                        </td>
                        <td>
                            Опции
                        </td>
                    </tr>
                    {% for payment in transactions %}
                        <tr>
                            <td>
                                {{ payment.create_date }}
                            </td>
                            <td>
                                {{ payment.pbn }}
                            </td>
                            <td>
                                <table class="table innerbordered" cellpadding="0" cellspacing="0">
                                    {% if payment.params|length > 0 %}
                                        {% for params in payment.params %}
                                            <tr>
                                                <td width="150">
                                                    {% if params[0] is defined %}
                                                        {{ params[0] }}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if params[1] is defined %}
                                                        {{ params[1] }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </table>
                            </td>
                            <td>
                                {{ payment.summ }}
                            </td>
                            <td class="tourStatus">
                                {{ payment.transact_name }}
                            </td>
                            <td class="cart-back p-r-10 p-l-10 addPaymentToBasket" data-pmnt-id="{{ payment.pmnt_id }}">
                                <i class="flaticon-shop"></i>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/media/js/paymentsPageTour.js"></script>
{% endblock %}