{% extends layout %}
{% block content %}

    <div class="container white-panel inline m-t-20">
        <div class="row">
            <div class="col-md-12">
                <h1>Показания счетчиков</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <span class="label"> Введите лицевой счет </span>
                    <input type="text" id="personal_account" name="personal_account" class="input"/>
                    <span class="error-message"></span>
                </div>
                <div class="input-group">
                    <span class="label"> Выберите компанию поставщика </span>
                    <select name="provider" id="provider" class="input">
                        <option value="7">Газпром Межрегионгаз Пермь</option>
                        <option value="1">Единый Расчетный Центр (ЕРЦ)</option>
                        <option value="2">ИРЦ-Прикамье</option>
                        <option value="3">Комплексный расчетный центр  - Прикамье (КРЦ)</option>
                        <option value="6">Новогор-Прикамье</option>
                        <option value="5">Пермэнергосбыт</option>
                    </select>
                    <span class="error-message"></span>
                </div>
                <button class="btn btn-yellow m-t-20 w100 getIndications">
                    ПОИСК
                </button>

            </div>
            <div class="col-md-9 p-15">
                <table class="table indicationsTable" border="1" cellspacing="0" cellpadding="0">

                </table>
            </div>
        </div>
    </div>

{% endblock %}