{% extends layout %}

{% block content %}

    <div class="container white-panel">
        <div class="row" equalizer>
            <div class="col-md-4 m-t-20" equal id="tourStart">

                {% for pay in pays_groups %}
                    <a href="/services/{{ pay.id }}" class="service_line_container">
                        <div class="icon">
                            <i class="flaticon-{{ pay.icon_back }}"></i>
                        </div>
                        <div class="body">
                            {{ pay.name }}
                        </div>
                    </a>
                {% else %}
                    Сервисы не найдены.
                {% endfor %}

            </div>
            <div class="col-md-8 text-center relative" equal>
                <button class="help_btn">
                    Помощник
                </button>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/media/js/mainPageTour.js"></script>
{% endblock %}