{% extends layout %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12 m-t-70">
                <h1 class="text-center m-t-200">
                    Возникли проблемы с вашим платежом!
                </h1>
                <h3 class="text-center">
                    Данные по вашему платежу отправлены администратору и будут рассмотрены в течении 3х дней!
                </h3>
            </div>
        </div>
    </div>

{% endblock %}