{% extends layout %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12 m-t-70">
                <h1 class="text-center m-t-200">
                    Платеж успешно оформлен!
                </h1>
                <h3 class="text-center">
                    За состояние платежа можно следить в <a href="/history">истории ваших платежей</a>!
                </h3>
            </div>
        </div>
    </div>

{% endblock %}