{% extends layout %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12 p-r-100 p-l-100 m-t-20 m-b-20 white-panel">
                <h1>Регистрация нового пользователя</h1>
                <form action="/ajax" id="reg_form" class="p-r-100 p-l-100">

                    <div class="input-group">
                        <span class="label"> Электронная почта <span class="mandatory">*</span> </span>
                        <input type="text" placeholder="example@mail.com" id="reg_login" name="reg_login" class="input"/>
                        <span class="error-message"></span>
                    </div>
                    <div class="input-group">
                        <span class="label"> Пароль <span class="mandatory">*</span> </span>
                        <input type="password" id="reg_pass" name="reg_pass" class="input"/>
                        <span class="error-message"></span>
                    </div>
                    <div class="input-group">
                        <span class="label"> Пароль ещё раз <span class="mandatory">*</span> </span>
                        <input type="password" id="reg_pass_2" name="reg_pass_2" class="input"/>
                        <span class="error-message"></span>
                    </div>
                    <div class="input-group">
                        <span class="label"> Фамилия </span>
                        <input type="text" id="usersoname" name="usersoname" class="input"/>
                        <span class="error-message"></span>
                    </div>
                    <div class="input-group">
                        <span class="label"> Имя </span>
                        <input type="text" id="username" name="username" class="input"/>
                        <span class="error-message"></span>
                    </div>
                    <div class="input-group">
                        <span class="label"> Отчество </span>
                        <input type="text" id="userlastname" name="userlastname" class="input"/>
                        <span class="error-message"></span>
                    </div>
                    <div class="input-group">
                        <div class="g-recaptcha m-t-20" data-sitekey="6LecBRwTAAAAAMivaU6UMke7sigO8e7HMRiUKqO8"></div>
                        <span class="error-message"></span>
                    </div>

                    <button type="submit" class="btn btn-yellow m-t-20 m-a">Зарегистрировать</button>
                </form>

            </div>
        </div>
    </div>

{% endblock %}