{% extends layout %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12 m-t-20 white-panel p-r-100 p-l-100">
                <h1>
                    Восстановление пароля
                </h1>
                <form action="/ajax" id="pass_form" class="p-r-100 p-l-100">
                    <div class="input-group">
                        <span class="label"> Пароль <span class="mandatory"></span> </span>
                        <input type="password" id="reg_pass" name="reg_pass" class="input"/>
                        <span class="error-message"></span>
                    </div>
                    <div class="input-group">
                        <span class="label"> Пароль ещё раз <span class="mandatory"></span> </span>
                        <input type="password" id="reg_pass_2" name="reg_pass_2" class="input"/>
                        <span class="error-message"></span>
                    </div>
                    <input type="hidden" name="hash" value="{{ hash }}"/>
                    <button type="submit" class="btn btn-yellow m-t-20 m-a">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}