{% extends layout %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12 m-t-20 m-b-20 white-panel">

                {% for key, path in path_back %}
                    {% if key != path_back|length - 1 %}
                        <a href="{{ path.path }}" class="{{ path.class }}">{{ path.name }}</a>
                    {% else %}
                        <span class="{{ path.class }}">{{ path.name }}</span>
                    {% endif %}
                    {% if key != path_back|length - 1 %}
                        <i class="flaticon-arrow font9"></i>
                    {% endif %}
                {% endfor %}

                <div class="search-line">
                    <div class="input-group">
                        <span>Найдено:  <span class="search_count label"></span> сервисов</span>
                        <input type="text" class="Search input" autofocus="true" />
                    </div>
                </div>



                {#<div id="services_box" equalizer data-service-id="{{ service_id }}">#}
                    {#<div class="text-center p-10 loadhide">#}
                        {#<div class="iconwrap rotate"><i class="flaticon-load"></i></div> Загружаю...#}
                    {#</div>#}
                {#</div>#}

                {% for service in t_service %}
                <a href="/services/{{ service.service_type_id }}/form/{{ service.service_id }}" class="service_container" data-service-inn="{{ service.inn }}" data-service-name="{{ service.www_name }}" data-service-pba="{{ service.provider_bank_account }}">
                <div class="service_header">
                    <span class="text">{{ service.www_name }}</span>
                </div>
                <div class="service_body">
                ИНН <span class="pull-right">{{ service.inn }}</span>
                <div class="line"></div>
                Р/С <span class="pull-right">{{ service.provider_bank_account }}</span>
                </div>
                </a>
                {% else %}
                Сервисы не найдены.
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}