{% extends layout %}

{% block content %}

    {#<script src="/media/js/lazyserviceload.js"></script>#}

    <div class="container">
        <div class="row">
            <div class="col-md-12 m-t-20 m-b-20 white-panel">

                {% for key, path in path_back %}
                    {% if key != path_back|length - 1 %}
                        <a href="{{ path.path }}" class="{{ path.class }}">{{ path.name }}</a>
                    {% else %}
                        <span class="{{ path.class }}">{{ path.name }}</span>
                    {% endif %}
                    {% if key != path_back|length - 1 %}
                        <i class="flaticon-arrow font9"></i>
                    {% endif %}
                {% endfor %}

                <div class="search-line">
                    <div class="input-group">
                        <span>Найдено:  <span class="search_count label"></span> сервисов</span>
                        <input type="text" class="Search input" autofocus="true" />
                    </div>
                </div>

                {#<div id="services_box" equalizer data-service-id="{{ service_id }}">#}
                    {#<div class="text-center p-10 loadhide">#}
                        {#<div class="iconwrap rotate"><i class="flaticon-load"></i></div> Загружаю...#}
                    {#</div>#}
                {#</div>#}


                <div id="services_box" equalizer data-service-id="{{ service_id }}">
                    {% for service in t_service %}

                        {% if service.groupped == false %}
                            <a href='/services/{{ service.service_type_id }}/form/{{ service.service_id }}' equal class='service_container' data-service-inn='{{ service.inn }}' data-service-name='{{ service.www_name }}' data-service-pba='{{ service.provider_bank_account }}'>
                                <div class="service_header">
                                    <span class="text">{{ service.name }}</span>
                                </div>
                                <div class="service_body">
                                    <b>{{ service.www_name }}</b>
                                    <div class="line"></div>
                                    ИНН: <span class="pull-right">{{ service.inn }}</span>
                                    <div class="line"></div>
                                    Р/С: <span class="pull-right">{{ service.provider_bank_account }}</span>
                                </div>
                            </a>

                        {% else %}

                            <a href='/services/{{ service.service_type_id }}/groupby/{{ service.service_id }}' equal class='service_container' data-service-name='{{ service.www_name }}'>
                                <div class="service_header">
                                    <span class="text">{{ service.name }}</span>
                                </div>
                                <div class="service_body">
                                    {{ service.www_name }}
                                    <div class="line"></div>
                                    С таким названием имеется несколько сервисов, нажмите чтобы увидеть подробности
                                </div>
                            </a>

                        {% endif %}

                        {#<a href="/services/{{ service.service_type_id }}/form/{{ service.service_id }}" class="service_container" data-service-inn="{{ service.inn }}" data-service-name="{{ service.www_name }}" data-service-pba="{{ service.provider_bank_account }}">#}
                        {#<div class="service_header">#}
                        {#<span class="text">{{ service.www_name }}</span>#}

                        {#</div>#}
                        {#<div class="service_body">#}
                        {#ИНН <span class="pull-right">{{ service.inn }}</span>#}
                        {#<div class="line"></div>#}
                        {#Р/С <span class="pull-right">{{ service.provider_bank_account }}</span>#}
                        {#</div>#}
                        {#</a>#}
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

{% endblock %}