{% extends layout %}

{% block content %}

    <div class="container">
        <div class="row" equalizer>
            <div class="col-md-12 m-t-20">
                <table class="table b-t-l-10 b-t-r-10" cellpadding="0" cellspacing="0">
                    <tr class="erc-header">
                        <td>
                            Сервис
                        </td>
                        <td>
                            Параметры
                        </td>
                        <td>
                            Сумма
                        </td>
                        <td colspan="3">
                            Опции
                        </td>
                    </tr>
                    {% for template in post %}
                        <tr>
                            <td class="serviceToolName">
                                {{ template.www_name }}
                            </td>
                            <td class="serviceToolParams">
                                <table class="table innerbordered" cellpadding="0" cellspacing="0">
                                    {% if template is defined %}
                                        {% if template.params|length > 0 %}
                                            {% for params in template.params %}
                                                <tr>
                                                    <td width="150">
                                                        {% if params[0] is defined %}
                                                            {{ params[0] }}
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if params[1] is defined %}
                                                            {{ params[1] }}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                </table>
                            </td>
                            <td>
                                <b>{{ template.summ|number_format(2, '.', ',') }}</b> Руб.
                            </td>
                            <td class="cart-back addToCart" data-tmp-id="{{ template.tmp_id }}">
                                <i class="flaticon-shop"></i>
                            </td>
                            <td class="edit-back">
                                <form action="/services/{{ template.service_type_id }}/form/{{ template.service_id }}" method="post">
                                    <input type="hidden" name="tmp_id" value="{{ template.tmp_id }}"/>
                                    <button type="submit" class="flaticon-draw nobtn"></button>
                                </form>
                            </td>
                            <td class="del-back deleteTemplate" data-tmp-id="{{ template.tmp_id }}">
                                <i class="flaticon-delete"></i>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/media/js/templatesPageTour.js"></script>

{% endblock %}